body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p { margin-bottom: 5px; }

.fixed-top { z-index: 900 !important; }
.z-1 { z-index: 1; }
.sandre-text { color: rgb(238, 39, 102); }
.sandre-color { background: rgb(238, 39, 102) !important; }
.app-page { 
  margin-top: 6.7rem;
}